
.centre-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}

/* < !-- HTML !--><button class="button-6" role="button">Button 6</button> 
SOURCE
https: //getcssscan.com/css-buttons-examples
*/

/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-align: center; /* Centre the button text */
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* Split button text number:text INTO <span>number</span><span>text</span> 
   in order to display as two lines */
.button-6 span {
  display: block;
}

.fizz-colour {
  background-color: orange
}

.buzz-colour {
  background-color: yellow
}

.fizzbuzz-colour {
  background-color: cyan
}

.pink-colour {
  background-color: pink;
}

.aqua-colour {
  background-color: aqua;
}
.purple-colour {
  background-color: purple;
}

.palered-colour {
  background-color: #e58e73;
}

.deeporange-colour {
  background-color: #ee7600;
}

.bluegrey-colour {
  background-color: #6699cc
}

.flexbox-item {
  width: 8.5%;
}

.flexbox-container {
  background-color: white;
  margin: 15px 60px auto;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* 
    gap: 20px is the same as 
    gap: 20px 20px;
    gap: 40px 20px;
    is the same as
    row-gap: 40px;
    column-gap: 20px;
    row-gap: 40px;
    column-gap: 20px;
    */

  row-gap: 40px;
  column-gap: 20px;

}